<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Esta é a minha primeria página web escrita em Angular.
                O objetivo é mostrar minha habilidades utilizando um exemplo de um E-Comerce.
                Esta página foi desenvolvida no programa Start by Capgemini.
            </p>
        </section>
        <address>
            <h2 class="footer__title">contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"></i> email@email.com</li>
                <li><i class="fa-regular fa-phone"></i> (00 00000-0000)</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00 00000-0000)</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
